body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
}
a {
  text-decoration: none;
}
a:active {
  border-style: none;
}
.header {
  background-color: #f2f6f8;
  padding-bottom: 60px;
}
/*------HEADER TOP------*/
.topbar {
  background-color: #293449;
  color: #fff;
}
.container {
  width: 940px;
  margin:0 auto;
}
.flex {
  display: flex;
}
.topbar__container {
  justify-content: space-around;
}
/*------BUTTONS------*/
.btn {
  padding: 10px 24px;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  display: inline-block;
}
.btn:hover {
  color: #ee3643;
}
.btn:hover .sign-in__icon {
  color: #32425c;
}
.btn:active {
  color: #c5c5c5;
}
.btn:active .sign-in__icon{
  color: #c5c5c5;
}
/*------ICONS------*/
.icon_grey {
  color: #6a7180;
}
.icon_light-grey {
  color: #b7bfc8;
}
/*------LOGO------*/
.logo {
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 9px 57px;
  font-size: 23px;
  line-height: 40px;
  border-bottom: 5px #b52933 solid;
}
.header__logo {
  max-width: 220px;
  flex: auto;
}
.logo_active:hover {
  background-color: #ca2c37;
}
.logo_active:active {
  background-color: #ba2732;
  border-bottom: 5px #b52933 solid;
}
/*------SEARCH------*/
.header__search {
  line-height: 42px;
  position: relative;
  flex: auto;
}
.form-control {
  font-family: 'Cuprum', sans-serif; 
  font-size: 18px;
  border: 0;
}
.form-control_search {
  background-color: #293449;
  width: 225px;
  display: inline-block;
  padding: 0 0 0 45px;
  margin: 0;
  min-height: 42px;
  height: 100%;
  flex: auto;
}
.form-control_search:hover {
  background-color: #212a3a;
}
.form-control_search:focus {
  background-color: #fff;
  outline: none;
}
.form-control_search:focus+.search__icon {
  color: red;
}
/*------ICON SEARCH------*/
.search__icon {
  font-size: 1.2em;
  position: absolute;
  left: 20px;
  top: 12px;
}
/*------BOOKMARKS------*/
.bookmarks {
  padding: 0 20px;
  color: #fff;
  line-height: 43px;
  background-color: #293449;
  flex: auto;
}
.bookmarks_active {
  display: inline-block;
  height: 100%;
}
.bookmarks_active:hover {
  background-color: #212a3a;
}
.bookmarks_active:hover .fa-bookmark {
  color: #fff;
}
.bookmarks_active:active {
  background-color: #161d29;
  color: #babbbd;
}
.bookmarks_active:active .icon_grey{
  color: #8b8e94;
}
/*------ICON BOOKMARKS------*/
.bookmarks__icon {
  padding-right: 9px;
}
/*------BASKET------*/
.basket {
  padding: 0 20px;
  color: #fff;
  line-height: 43px;
  background-color: #293449;
  flex: auto;
}
.basket_active {
  display: inline-block;
  height: 100%;
}
.basket_active:hover {
  background-color: #212a3a;
}
.basket_active:hover .fa-shopping-cart {
  color: #fff;
}
.basket_active:active {
  background-color: #161d29;
  color: #babbbd;
}
.basket_active:active .icon_grey {
  color: #8b8e94;
}
/*------ICON BASKET------*/
.basket__icon {
  padding-right: 9px;
  display: inline-block;
}
/*------CHESKOUT------*/
.header__checkout {
  line-height: 43px;
  flex: auto;
}
.btn_green {
  background-color: #63a63e;
  font-size: 17px;
  color: #fff;
  padding: 0 26px;
}
.checkout__btn {
  display: inline-block;
  height: 100%;
}
.checkout__btn:hover {
  background-color: #5fbb2d;
  color: #fff;
}
.checkout__btn:active {
  background-color: #518534;
  color: #babbbd;
}
/*------INFORMATION------*/
.info {
  justify-content: space-between;
}
.info__container {
  padding: 48px 0;
}
/*------DESCRIPTION------*/
.info__description {
  margin-left: 45px;
}
.description {
  color: #ee4a55;
  font-style: italic;
  max-width: 187px;
  line-height: 23px;
}
/*------PHONE------*/
.phone {
  border: 3px solid #fff;
  padding: 7px 13px;
}
.phone__value {
  color: #e9292a;
  font-size: 22px;
}
/*------PHONE ICON------*/
.phone__icon {
  transform: scale(-1, 1);
  font-size: 1.2em;
  margin-right: 27px;
}
/*------ADDRESS------*/
.address {
  color: #32425c;
  font-size: 14px;
}
.contacts__address {
  margin-top: 5px;
}
/*------ENTRANCE------*/
.entrance__item {
  margin: 0 0 0 10px;
}
/*------SIGN-IN ICON------*/
.sign-in__icon {
  padding-right: 10px; 
}
.navmenu {
  justify-content: space-between;
  background-color: #32425c;
  border-bottom: 5px #293449 solid;
}
.navmenu__item {
  color: #fff;
  padding: 17px 0;
  display: inline-block;
  flex: auto;
  text-align: center;
}
.navmenu__item:hover {
  background-color: #293449;
}
.navmenu__item:active {
  background-color: #1d2739;
  color: #9b9da2;
}