 body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
 }
 a {
  text-decoration: none;
  color: #fff;
}
input:focus {
  outline: none;
}
a:active {
  border-style: none;
}
/*------HEADER------*/
.header {
  background-color: #293449;
  text-align: center;
}
.header__top {
  width: 940px;
  max-height: 43px;
  margin:0 auto;
  display: inline-block;
  text-align: center;
}
.top__items {
  display: inline-block;
  max-height: 43px;
  margin: 0 -16px 0 -4px;
}
/*------HEADER ITEMS------*/
.header__item {
  color: #fff;
  font-size: 17px;
  display: inline-block;
}
/*------LOGO------*/
.logo {
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 9px 57px;
  font-size: 23px;
  line-height: 40px;
  border-bottom: 5px #b52933 solid;
}
.logo:hover {
  background-color: #ca2c37;
}
.logo:active {
  background-color: #ba2732;
  border-bottom: 5px #b52933 solid;
}
/*------SEARCH------*/
.header__search {
  line-height: 42px;
  padding-left: 20px;
  margin-left: -20px;
  position: relative;
}
.form-control {
  
  font-family: 'Cuprum', sans-serif; 
  font-size: 18px;
  border: 0;
  
  padding: 11px 36px;
}
.form-control_search {
  background-color: #293449;
  width: 197px;
}
.form-control:hover {
  background-color: #212a3a;
}
.form-control:focus {
  background-color: #fff;
}
.form-control:focus+.icon__awsome_grey-search {
  color: red;
}
/*------ICONS------*/
.icon__awsome_grey {
  color: #6a7180;
  display: inline-block;
}
/*------ICON SEARCH------*/
.icon__awsome_grey-search {
  font-size: 1.2em;
  color: #6a7180;
  position: absolute;
  left: 35px;
  top: 12px;
}
/*------BOOKMARKS------*/
.header__bookmarks {
  line-height: 43px;
}
.bookmarks {
  padding: 11px 18px;
}
.bookmarks:hover {
  background-color: #212a3a;
}
.bookmarks:hover .fa-bookmark {
  color: #fff;
}
.bookmarks:active {
  background-color: #161d29;
}
.bookmarks:active .icon__awsome_grey{
  color: #8b8e94;
}
/*------ICON BOOKMARKS------*/
.icon_bookmarks {
  padding-right: 9px;
  display: inline-block;
}
/*------BASKET------*/
.basket {
  padding: 11px 18px;
}
.basket:hover {
  background-color: #212a3a;
}
.basket:hover .fa-shopping-cart {
  color: #fff;
}
.basket:active {
  background-color: #161d29;
}
.basket:active .icon__awsome_grey {
  color: #8b8e94;
}
/*------ICON BASKET------*/
.icon_basket {
  padding-right: 9px;
  display: inline-block;
}
/*------CHESKOUT------*/
.header__checkout {
  margin-left: 13px;
}
.checkout__button_green {
  background-color: #63a63e;
  font-family: 'Cuprum', sans-serif; 
  font-size: 17px;
  color: #fff;
  padding: 12px 26px;
  text-decoration: none;
}
.checkout__button_green:hover {
  background-color: #5fbb2d;
}
.checkout__button_green:active {
  background-color: #518534;
}